body {
    background-color: #f8f9fa;
}

#tabela-administradores .btn-group {
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
}

#form-administrador:not(.edit-mode) #campo-dtFim {
    display: none;
}