body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.fc-header-toolbar {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.fc-button-primary {
    background-color: #284768 !important;
    border: none !important;
}
.fc-button-primary:hover {
    background-color: #284768 !important;
}

.fc-event {
    cursor: pointer;
}