body {
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
}

.form-container, .table-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

#tabelaDoacoes tr:hover {
    cursor: default;
    background-color: #eceeef;
}

.table-responsive {
    overflow-x: auto;
}

.form-select {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.campo-escondido {
    display: none;
}

.required-field::after {
    content: " *";
    color: #dc3545;
    font-weight: bold;
}

.required-field-asterisk {
    color: #dc3545;
    font-weight: bold;
}

#tabelaDoacoes .btn {
    padding: 0.25rem 0.5rem;
}

#tabelaDoacoes .btn-editar {
    margin-right: 5px;
}

.btn-remover-item i {
    pointer-events: none;
}