body {
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
}

.form-container, .table-container {
    background-color: #ffffff;
    border-radius: 8px;
}

#tabelaDoadores .btn {
    margin-right: 5px;
}

#tabelaDoadores tr:hover {
    cursor: default;
    background-color: #eceeef;
}

.table-responsive {
    overflow-x: auto;
}