<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Fotos da Atividade</title>

    <link rel="shortcut icon" type="image/png" th:href="@{/images/BrasãoDemolay.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/EnviarFotosAtividade.css">
</head>
<body>

<div class="container-upload">
    <div class="logo">
        <img th:src="@{/images/BrasãoDemolay.png}" alt="Logo DM Info" class="logo-img">
    </div>

    <h1>DM Info</h1>
    <h3>Registros fotográficos de Atividades</h3>

    <form id="upload-form">

        <div class="input-group-wrapper">
            <label for="id_evento" class="form-label">Evento</label>
            <select class="form-select" id="id_evento" required>
                <option value="" disabled selected>Carregando eventos...</option>
            </select>
        </div>

        <div class="input-group-wrapper">
            <label for="id_atividade" class="form-label">Atividade</label>
            <select class="form-select" id="id_atividade" disabled required>
                <option value="" disabled selected>Selecione um evento...</option>
            </select>
        </div>

        <div class="input-group-wrapper">
            <label for="id_membro" class="form-label">ID do Membro</label>
            <input type="number" class="form-control" id="id_membro" value="1" required placeholder="Digite seu ID">
        </div>

        <div class="input-group-wrapper">
            <label class="form-label">Evidência (Foto)</label>
            <input type="file" id="foto" name="foto" accept="image/*" required class="file-input-hidden">
            <label for="foto" class="file-upload-label" id="file-label-text">
                Escolher Evidência (Foto)
            </label>
        </div>

        <img id="image-preview" alt="Pré-visualização">

        <button type="submit" class="btn btn-primary">Enviar Registro</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/EnviarFotosAtividade.js"></script>
</body>
</html>