<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Atividades</title>
    <link rel="stylesheet" th:href="@{/styles/finalizarAtividades.css}">
</head>
<body>

<div class="container">
    <h1>Atividades Cadastradas</h1>
    <table class="atividades-tabela">
        <thead>
        <tr>
            <th>Admin</th>
            <th>Atividade</th>
            <th>Local</th>
            <th>Horário</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Custo Previsto</th>
            <th>Custo Real</th>
            <th>Observações</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody id="tabela-corpo">
        <tr>
            <td colspan="10" class="status-loading">Carregando atividades...</td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/js/finalizarAtividades.js}" defer></script>
</body>
</html>